<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Users</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/chat.css" />
        <script src="scripts/socket.io.min.js"></script>
        <script  src="scripts/moment.min.js"></script>
        <script src="scripts/http.js"></script>
    </head>
    <body>

        <!-- Header -->
        <ul class="topnav">
            <li><a id="nav-users">Users</a></li>
            <li><a id="nav-chat" class="active">Chat</a></li>
            <li><a id="nav-logout">Logout</a></li>
            <li class="icon">
                <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()">☰</a>
            </li>
        </ul>

        <!-- Chat Window -->
        <div id="window-wrapper">
            <div id="chat-window"></div>

            <div id="send-msg-wrapper">
                <input id="send-msg-input"/>
                <button id="send-msg-btn">
                    Send
                </button>
            </div>
        </div>
    </body>
    <script src="scripts/index.js"></script>
    <script src="scripts/chat.js"></script>
</html>
